/* Estilos para los párrafos */
p {
    font-family: sans-serif;
    font-size: 8px;
    color: blue;
    background-color: grey;
}

/* Estilos para los títulos */
h1, h2 {
    color: black;
    font-size: 14px;
}

/* Estilos específicos para el título principal */
h1 {
    font-weight: bold;
}

/* Estilos específicos para los subtítulos */
h2 {
    font-style: italic;
}